@font-face {
    font-family : 'Montserrat';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX8.ttf) format('truetype');
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.name {
    font-size: 25px;
    font-weight: bold;
}

.buttons {
    float: right;
}
