@font-face {
    font-family : 'Montserrat';
    font-style : normal;
    font-weight: normal;
    src : url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX8.ttf) format('truetype');
}

body {
    background-color: #F2F2F2;
    color: #7F7F7F;
    width: 100%;
    text-align: center;
}

.essay p {
    width: 50%;
    display: inline-block;
    font-size: 1.25rem;
    text-align: left;
    text-indent: 40px;
    margin-left: auto;
    margin-right: auto;
}

.hanging {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding-left: 22px;
    text-indent: -22px;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    text-align: center;
}

.ul-container {
    text-align: center;
}

.center-ul {
    display: inline-block;
    text-align: left;
}

